<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpandingTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2FEE3961DF430C900043788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2FEE3AA1DF430CB00043788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2FEE3B51DF430CB00043788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
